@{
    ViewBag.Title = "About";
}
<h2 class="textspacing" style="margin-top: 20px;">@ViewBag.Title</h2>

<h4 class="textspacing">Our mission is to allow a seamless transition from newly called Elders and Sisters with their RM counterparts.</h4>
