@{
    ViewBag.Title = "About Us";
}
<div class="jumbotron">
	<img src="~/Content/images/jeffrey-r-holland-large.jpg" class="jumboimage pull-left col-sm-3 img-responsive" />
	<h2 class="textspacing" style="margin-bottom: 0px;">@ViewBag.Title</h2>
	<p style="margin-top: 0px;">
		Our mission is to allow a seamless transition from newly called Elders and Sisters with their RM counterparts. 
	</p>

	<p class="textspacing">
		"We’re asking you to join us in that for two years. We’re asking you to carry
		one leg of the race, one relay of the baton for two years’ time, or 18
		months, as the case for the sisters. We just thank you. We love you. We are honored
		and grateful that you have come. It is a very personal
		expression of gratitude that we make. Thank you for serving."
		<br />
		<i>-Elder Jefferey R. Holland</i>
	</p>
</div>

	<br />
	<h4>Please Visit These Links for More Information</h4>
	<div class="row">
		<div class="col-md-4">
			<h2>LDS.org</h2>
			<p>The official site of The Church of Jesus Christ of Latter-day Saints.</p>
			<p><a class="btn btn-primary" href="https://www.lds.org/callings/missionary?lang=eng" target="_blank">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Mormon.org</h2>
			<p>Learn about the Mormon religion and meet members of the Mormon Church. Modern Mormons talk about their faith and answer common questions.</p>
			<p><a class="btn btn-primary" href="https://www.mormon.org/" target="_blank">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Mormon Channel</h2>
			<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
			<p><a class="btn btn-primary" href="https://www.mormonchannel.org/" target="_blank">Learn more &raquo;</a></p>
		</div>
	</div>
