
@{
    ViewBag.Title = "Error";
}

<h2>Login Error</h2>
<h3>Incorrect Log In Information - Please Try Again</h3>
<a href="@Url.Action("Create", "Users")" class="btn btn-primary">Create New Account</a>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
	<div class="form-horizontal">
		<hr />
		<label for="inputEmail" class="control-label col-md-2" style="margin-top: 15px;">Email</label>
		<div class="col-md-10" style="margin-top: 15px;">
			@Html.TextBox("Email", null, new { @class = "form-control" })
		</div>
		<label for="inputPassword" class="control-label col-md-2" style="margin-top: 15px;">Password</label>
		<div class="col-md-10" style="margin-top: 15px;">
			@Html.Password("Password", null, new { @class = "form-control" })
		</div>
		<div class="col-md-offset-2 col-md-10" style="margin-top: 15px;">
			<button type="submit" class="btn btn-primary">Sign In</button>
		</div>
	</div>
}

