@{
    ViewBag.Title = "The Field is White";
}

<div class="jumbotron">
    <div class="row">
        <h1 class="col-sm-9 text-spacing">Mission Development</h1>
        <img src="~/Content/images/missionary1.jpg" class="jumboimage pull-right col-sm-3 img-responsive" />
        <p class="lead col-sm-9" id="jumbop">Your mission starts here!</p>
        <i class="lead col-sm-9">"For behold the field is white already to harvest; and lo, he that thrusteth in his sickle with his might, the same layeth up in store that he perisheth not, but bringeth salvation to his soul;" -Doctrine and Covenant 4:4</i>
    </div>
    <div class="row">
        <iframe class="col-sm-7 text-spacing" width="560" height="315" src="https://www.youtube.com/embed/I6FKiNVbw3Y" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LDS.org</h2>
        <p>The official site of The Church of Jesus Christ of Latter-day Saints.</p>
        <p><a class="btn btn-default" href="https://www.lds.org/callings/missionary?lang=eng" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mormon.org</h2>
        <p>Learn about the Mormon religion and meet members of the Mormon Church. Modern Mormons talk about their faith and answer common questions.</p>
        <p><a class="btn btn-default" href="https://www.mormon.org/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mormon Channel</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.mormonchannel.org/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>