@model IEnumerable<Project1MissionSite.Models.Mission>
@{
    ViewBag.Title = "Missions";
}

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li class="active">Mission Selection</li>
</ol>

<h2>Missions</h2>
<h4>Select a mission:</h4>

<form action="/Home/MissionSelection" method="get">
    <fieldset>
        <select style="color: black;"id="missionselection" name="missions">
			@foreach (var item in Model)
			{ 
				<option style="color: black;"value="@item.missionId">@item.missionName</option>
			}
        </select>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </fieldset>
</form>

